# The name of the workflow.
# This is the name that's displayed for status
# badges (commonly embedded in README.md files).
name: build and deploy
on:
  push:
    branches:
      - main
      - develope
jobs:
  build:
    name: build uni-be
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Setup .NET 5
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: "5.0.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Publish
        run: dotnet publish -r linux-x64 --configuration "Release" --self-contained "true" -o ../site;

      - name: Zip Package
        run: cd site; zip ../site.zip *; cd ..; zip UniAdmissionPlatform.zip site.zip aws-windows-deployment-manifest.json
      - name: Upload zip source
        uses: actions/upload-artifact@v2
        with:
          name: uni_be
          path: out.zip

  deploy:
    needs: build
    name: deploy uni-be
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Clone source zip
        uses: actions/download-artifact@v2
        with:
          name: uni_be

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v20
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: UniAdmissionPlatformWebApi
          environment_name: UniAdmissionPlatform-dev
          region: ap-southeast-1
          version_label: ${{ github.run_id }}
          version_description: ${{ github.sha }}
          deployment_package: ${{ github.workspace }}/UniAdmissionPlatform.zip
          use_existing_version_if_available: true
          wait_for_deployment: true
