# The name of the workflow.
# This is the name that's displayed for status
# badges (commonly embedded in README.md files).
name: build, Test and Deploy
on:
  push:
  pull_request:
    branches:
      - main
      - develope
    paths-ignore:
      - 'README.md'
env:
  DOTNET_VERSION: '6.0.x'
jobs:
  build-and-test:
    name: build-and-test-${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --no-restore --verbosity normal
  deploy:
#  Depends on build's job
#  needs: build-and-test
#    name: Deploy
