name: build and deploy
on:
  push:
    branches:
      - main
jobs:
  build:
    name: build uni-be
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Setup .NET 5
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: "5.0.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Build app
        run: dotnet build -c Release --no-restore

      - name: Publish
        run: dotnet publish -c Release -o '${{ github.workspace }}/site' -r linux-x64 --self-contained false

      - name: Zip Package
        run: |
          cd ${{ github.workspace }}/site 
          zip -r ${{ github.workspace }}/site.zip *
      - name: Upload zip sources
        uses: actions/upload-artifact@v2
        with:
          name: uni_be
          path: site.zip

  deploy:
    needs: build
    name: deploy uni-be
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Clone source zip
        uses: actions/download-artifact@v2
        with:
          name: uni_be

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v20
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: UniAdmissionPlatformWebApi
          environment_name: UniAdmissionPlatform-dev
          region: ap-southeast-1
          version_label: ${{ github.run_id }}
          version_description: ${{ github.sha }}
          deployment_package: ${{ github.workspace }}/site.zip
          use_existing_version_if_available: true
          wait_for_deployment: true
